<div class="container">
  <form id="event" method="POST" action="/event/new">
    <input type="hidden" id="user_id" name="event[user_id]" value="<%= @user.id%>">
      
      Event Name: <input id="name" type="text" name="event[name]"><br>
      Location: <input id="location" type="text" name="event[location]"><br>
      Starts At: <input id="starts_at" type="text" name="event[starts_at]"><br>
      Ends At: <input id= "ends_at" type="text" name="event[ends_at]"><br>

    <input type="submit" value="create event!">
  </form>
</div>