<div class="container">
  <form id="sign-up" method="post" action="/users/login">

    <input type="text" name="user[email]" placeholder="email">
    <span id="email-errors" class="errors"></span>
    <br>
    <input type="password" name="user[password]" placeholder="password">
    <span id="entered_password-errors" class="errors"></span>
    <br>

    <div class="submit"><input type="submit" value="log in"></div>
  </form>
</div>
